.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  /* place-items:center; */
  /* justify-content: space-around;
  align-items: flex-start; */

  padding-left: 5%;
  padding-right: 5%;
}

.charts-container > div {
  flex: 1;
  margin: 10px;
}

/* .charts-container .pie-chart {
  width: 30%;
}

.charts-container .bar-chart {
  width: 40%;
}
.charts-container .project-status {
  width: 30%;
} */
.pie-chart, .project-status, .bar-char {
  width: 100%; /* Ensure charts take up full width within their grid cell */
}



