.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* place-items:center; */
  /* justify-content: space-around;
  align-items: flex-start; */
  
  padding-left: 5%;
  padding-right: 5%;
}

.charts-container > div {
  flex: 1;
  margin: 10px;

}

.charts-container .pie-chart {
  width: 50%;
  /* grid-column: 2;
  grid-row: 1; */

}
/* .pie-chart{
    position: absolute;
    top: 60%;
} */

.charts-container .bar-chart {
  width: 50%;
  /* grid-column: 2; */
}
