.charts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: space-between; */
  /* margin: 0px; */
  gap: 40px;
  flex-wrap: wrap;
}
.charts {
  gap: 50px;
}
.project {
  margin-left: -20px;
}
